<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="hll.zpf.starttravel">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:name=".base.BaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/http_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".page.AddDetailActivity">
        </activity>

        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="449244fdd692ea6f573d6f6fbe7f26aa"/>

        <activity
                android:name=".page.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".page.SignUpActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity
                android:name=".page.GuideActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".page.LoginActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity
                android:name=".page.HomeActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan"/>
        <activity
                android:name=".page.AddTravelActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity
                android:name=".page.TravelDetailActivity"
                android:exported="false"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|stateUnchanged"/>
    </application>

</manifest>